:root {
  --grey-dark-1: #4a4a4a;
  --grey-dark-2: #777;
  --grey-dark-3: #9b9b9b;
  --grey-light-1: #ccc;
  --grey-light-2: #f4f2f2;
  --apple: #88c542;
  --jade-green: #27ad6c; }

@keyframes pulsate {
  0% { }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff; }

.heading-primary--main {
  font-size: 8.2rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
  text-align: center; }

.heading-primary--sub {
  width: 50%;
  text-align: center;
  font-size: 2rem;
  opacity: 0.7;
  line-height: 1.4;
  margin-bottom: 4rem; }

.navigation {
  position: absolute;
  top: 5rem;
  right: 5rem; }
  .navigation__box {
    display: flex;
    align-items: center; }
  .navigation__item {
    list-style: none;
    margin: 0 1rem;
    transition: all .2s;
    backface-visibility: hidden; }
    .navigation__item--active a {
      color: var(--apple); }
    .navigation__item:hover, .navigation__item:focus {
      transform: translateY(-0.5rem) scale(1.2); }
    .navigation__item:active {
      transform: translateY(-0.3rem) scale(1.2); }
  .navigation__link {
    text-decoration: none;
    display: block;
    color: #fff;
    opacity: 0.7;
    font-size: 1.6rem;
    text-align: left;
    padding: .5rem; }
  .navigation__search-icon {
    display: inline-block;
    height: 1.5rem;
    width: 1.55rem; }

.btn {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  color: #fff;
  background-color: var(--jade-green);
  padding: 1.5rem 2rem;
  border-radius: .4rem;
  box-shadow: 0 0.2rem 4rem 0 rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  transition: all .2s; }
  .btn__arrow {
    display: inline-block;
    height: 1.6rem;
    width: 1.6rem;
    margin-left: 1rem; }
  .btn:hover {
    transform: translateY(-3px); }
  .btn:active {
    transform: translateY(-1px); }

.header {
  height: 90vh;
  background-image: linear-gradient(to right, #406b55, #406b55), url(../img/img-hero-image.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 5rem;
    left: 5rem;
    transition: animation .2s; }
    .header__logo-box:hover {
      animation: pulsate .5s infinite; }
  .header__logo {
    display: block;
    height: 3rem; }
  .header__text-box {
    width: 85%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
