:root {
  --grey-dark-1: #4a4a4a;
  --grey-dark-2: #777;
  --grey-dark-3: #9b9b9b;
  --apple: #88c542;
  --jade-green: #27ad6c; }

@keyframes pulsate {
  0% { }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px; }

.heading-primary {
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .heading-primary--main {
    font-size: 8.2rem;
    font-weight: 700;
    margin-bottom: 2.5rem; }
  .heading-primary--sub {
    width: 50%;
    font-size: 2rem;
    opacity: 0.7;
    line-height: 1.4;
    margin-bottom: 4rem; }

.heading-secondary {
  font-size: 4.8rem;
  text-align: center;
  color: var(--grey-dark-3);
  font-weight: 400; }

.text-align-left {
  text-align: left; }

.btn {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  color: #fff;
  background-color: var(--jade-green);
  padding: 1.5rem 2rem;
  border-radius: .4rem;
  box-shadow: 0 0.2rem 4rem 0 rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  transition: all .2s; }
  .btn__arrow {
    display: inline-block;
    height: 1.6rem;
    width: 1.6rem;
    margin-left: 1rem; }
  .btn:hover {
    transform: translateY(-3px); }
  .btn:active {
    transform: translateY(-1px); }

.navigation {
  position: absolute;
  top: 5rem;
  right: 5rem; }
  .navigation__box {
    display: flex;
    align-items: center; }
  .navigation__item {
    list-style: none;
    margin: 0 1rem;
    transition: all .2s;
    backface-visibility: hidden; }
    .navigation__item--active a {
      color: var(--apple); }
    .navigation__item:hover, .navigation__item:focus {
      transform: translateY(-0.5rem) scale(1.2); }
    .navigation__item:active {
      transform: translateY(-0.3rem) scale(1.2); }
  .navigation__link {
    text-decoration: none;
    display: block;
    color: #fff;
    opacity: 0.7;
    font-size: 1.6rem;
    text-align: left;
    padding: .5rem; }
  .navigation__search-icon {
    display: inline-block;
    height: 1.5rem;
    width: 1.55rem; }

.news {
  width: 48rem; }
  .news__item {
    display: flex;
    align-items: center;
    padding: 2.7rem 0;
    position: relative; }
    .news__item:not(:last-child) {
      border-bottom: 1px solid rgba(136, 197, 66, 0.2); }
  .news__item-hour {
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
  .news__timestamp {
    color: var(--grey-dark-3);
    opacity: .5;
    text-transform: uppercase;
    font-size: 1.3rem;
    position: absolute;
    top: 63%;
    left: 0; }
  .news__link {
    display: inline-block;
    text-decoration: none;
    color: var(--jade-green);
    font-size: 1.6rem;
    transition: all .2s; }
  .news__globe {
    display: inline-block;
    height: 2.2rem;
    width: 2.2rem;
    margin-right: .6rem;
    object-fit: contain; }

.separator {
  width: 1px;
  height: 34.5rem;
  background-color: var(--apple); }

.requirement-details {
  display: flex;
  justify-content: space-around;
  margin-top: 8rem; }

.requirement-description {
  width: 30%; }
  .requirement-description:not(:last-child) {
    margin-right: 8rem; }
  .requirement-description__photo {
    display: inline-block;
    width: 100%; }
  .requirement-description__text {
    margin-top: 4rem;
    text-align: center; }
  .requirement-description__heading {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.33;
    color: var(--jade-green);
    margin-bottom: .8rem; }
  .requirement-description__paragraph {
    font-size: 1.4rem;
    color: var(--grey-dark-1);
    opacity: .78;
    line-height: 1.57; }

.header {
  height: 90vh;
  background-image: linear-gradient(to right, #406b55, #406b55), url(../img/img-hero-image.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 5rem;
    left: 5rem;
    transition: animation .2s; }
    .header__logo-box:hover {
      animation: pulsate .5s infinite; }
  .header__logo {
    display: block;
    height: 3rem; }
  .header__text-box {
    width: 85%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

.requirements {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 14.5rem 19rem; }

.news-content {
  display: flex;
  justify-content: space-around; }

.mid-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 11rem 0; }
  .mid-logo__line {
    height: 1px;
    width: 12.5rem;
    background-color: var(--apple); }
  .mid-logo__logo-box {
    width: 5rem;
    margin: 0 2.5rem; }
  .mid-logo__logo {
    display: block;
    object-fit: contain; }
