:root {
    --grey-dark-1: #4a4a4a;
    --grey-dark-2: #777;
    --grey-dark-3: #9b9b9b;

    // --grey-light-1: #ccc;
    // --grey-light-2: #f4f2f2;

    --apple: #88c542;
    --jade-green: #27ad6c;
    

}