@keyframes pulsate {
    0% {
        
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes bounceup {
    0% {
        transform: translateY(-15rem);
        opacity: .5;
    }

    30% {
        opacity: 1;
    }

    70% {
        transform: translateY(2rem);
    }

    85% {
        transform: translateY(-1.5rem);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes enlarge {
    0% {
        transform: scale(0.1);
        opacity: .3;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes moveinup {
    0% {
        transform: translateY(7rem);
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}