body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.heading-primary {
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;

    &--main {
        font-size: 8.2rem;
        font-weight: 700;
        margin-bottom: 2.5rem; 
        
        animation: bounceup 1s cubic-bezier(.24,.31,.11,1.04);

        @include respond(tab-landscape) {                   //below 1200px
            font-size: 7.5rem;
        }

        @include respond(tab-portrait) {                    //below 900px
            font-size: 5.5rem;
        }

        @include respond(phone) {
            font-size: 3.5rem;
        }
    }

    &--sub {
        width: 50%;
        font-size: 2rem;
        opacity: 0.7;  
        line-height: 1.4;      
        margin-bottom: 4rem;
        // font-weight: 300;

        animation: enlarge 1s ease-out;

        @include respond(tab-landscape) {
            width: 55%;
        }

        @include respond(tab-portrait) {
            width: 70%;
        }

        @include respond(phone) {
            width: 100%;
        }
    }   
}


/////////////////////////////////////////////////////
//// secondary heading styles


.heading-secondary {
    font-size: 4.8rem;
    text-align: center;
    color: var(--grey-dark-3);
    font-weight: 400;
    // line-height: 1;

    @include respond(phone) {
        font-size: 3rem;
    }
}


/////////////////////////////////////////////////////
//// food photos heading 

.food-photos__heading{

    &--main {
       
    }

    &--sub {
        font-size: 1.4rem;
        font-style: italic;
        margin-top: 1.5rem;
    }
}