.requirements {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14.5rem 19rem;

    @include respond(tab-landscape) {
        padding: 12rem  5rem;
    }

    @include respond(tab-portrait) {
        padding-top: 7rem;
    }
}

.news-content {
    display: flex;
    justify-content: space-around;

    @include respond(tab-portrait) {
        flex-direction: column;
        align-items: center;
    }
}

.mid-logo {
    display: flex;
    justify-content: center;
    align-items: center;

    &__line {
        height: 1px;
        width: 12.5rem;
        background-color: var(--apple);
    }

    &__logo-box {
        width: 5rem;
        margin: 0 2.5rem;
        transition: all .5s ease-in-out;

        &:hover,
        &:focus {
            transform: rotate(360deg);
        }

        // &:hover ~ .mid-logo__line--left {                        // <-- this one is not working so commented.
        //     transform: translateX(-5rem);
        // }

        // &:hover + .mid-logo__line--right {
        //     transform: translateX(5rem);
        // }
    }

    &__logo {
        display: block;
        object-fit: contain;
    }

    

}

