.footer {
    background-color: var(--black);
    display: flex;
    align-items: center;
    padding: 2.5rem 6rem;
    position: relative;

    &__nav {
        top: 2rem;
        right: 6rem;

        .navigation__link{
            text-transform: uppercase;
            opacity: 1;

            &:hover,
            &:focus {
                text-shadow: .2rem .7rem 1rem rgba(0, 0, 0, .7);
            }
        }

        .navigation__item--active .navigation__link{
            color: #fff;
            // opacity: 0.7;
        }
    }
}

.copyright {
    font-size: 1.4rem;
    text-align: left;
    color: #fff;
}